- https://stackoverflow.com/questions/41888080/python-efficient-way-to-add-rows-to-dataframe

In [10]:
import pandas as pd

In [11]:
df_loc = pd.DataFrame(columns=['col1','col2','col3'])
for x in range(3):
    vals = [x+1,x+3,x+5]
    df_loc.loc[x] = vals

df_loc

  col1 col2 col3
0    1    3    5
1    2    4    6
2    3    5    7

In [12]:
dict_data = {'col1':[],'col2':[],'col3':[]}
for x in range(3):
    dict_data['col1'].append(x+2)
    dict_data['col2'].append(x+4)
    dict_data['col3'].append(x+6)
df_dict = pd.DataFrame(data=dict_data)

df_dict

   col1  col2  col3
0     2     4     6
1     3     5     7
2     4     6     8