- https://stackoverflow.com/questions/41888080/python-efficient-way-to-add-rows-to-dataframe

In [23]:
import pandas as pd

In [24]:
# adding a new line via a list, doing it three times using a loop
df_loc = pd.DataFrame(columns=['col1','col2','col3'])
for x in range(3):
    vals = [x+1,x+3,x+5]
    df_loc.loc[x] = vals
    
df_loc

  col1 col2 col3
0    1    3    5
1    2    4    6
2    3    5    7

In [25]:
# creating a new df via a dictionary
# loop builds out the dictionary
dict_data = {'col1':[],'col2':[],'col3':[]}
for x in range(3):
    dict_data['col1'].append(x+2)
    dict_data['col2'].append(x+4)
    dict_data['col3'].append(x+6)
print('input dict',dict_data)
df_dict = pd.DataFrame(data=dict_data)

df_dict

input dict {'col1': [2, 3, 4], 'col2': [4, 5, 6], 'col3': [6, 7, 8]}

   col1  col2  col3
0     2     4     6
1     3     5     7
2     4     6     8

In [34]:
df_dict['col4'] = 0 # creating new column filled with 0
df_dict['col4'][1] = 1 # update second line
df_dict

   col1  col2  col3  col4
0     2     4     6     0
1     3     5     7     1
2     4     6     8     0