In [35]:
from sqlite_connector import sql_return_html as sql

A series of SQL queries using DBeavers built in SQLite database

In [36]:
sql('''
Select * 
    from Genre     
    limit 3
''')

In [37]:
sql('''
SELECT 	
    IL.UNITPRICE AS "Unit Price",
    I.INVOICEDATE AS "Invoice Date",
    C.FIRSTNAME AS "Customer Namer",
    T.NAME AS "Track Name" ,
    A.TITLE AS "Album Name"  ,
    A2.NAME  AS "Artist Name"
    FROM INVOICELINE IL
    JOIN INVOICE I ON I.INVOICEID = IL.INVOICEID 
    JOIN CUSTOMER C ON I.CUSTOMERID = C.CUSTOMERID 
    JOIN TRACK T ON IL.TRACKID = T.TRACKID 
    JOIN ALBUM A ON T.ALBUMID = A.ALBUMID 
    JOIN ARTIST A2 ON A.ARTISTID = A2.ARTISTID 
    Limit 5
''')

In [38]:
sql('''
    SELECT "Customers" AS "Table", COUNT(*) AS "Count" FROM CUSTOMER C 
    UNION 
    SELECT "Genres", COUNT(*) FROM GENRE G 
    UNION 
    SELECT "Artists", COUNT(*) FROM ARTIST A 
    UNION 
    SELECT "Tracks", COUNT(*) FROM TRACK T 
''')

In [43]:
sql('''
SELECT 
    C.FIRSTNAME || " " || C.LASTNAME AS Name,
    Phone AS "Phone Number" 
    FROM CUSTOMER C 
''')